<footer class="row middle-xs center-xs">

  {{ if .Site.Params.address }}
      <div class="col-xs-3 col-md-2 address">{{ .Site.Params.address | markdownify }}</div>
  {{ end }}
  {{ if .Site.Params.gitlab }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://gitlab.com/{{ .Site.Params.gitlab }}">GitLab</a></div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="col-xs-3 col-md-2"><a target="_blank" href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></div>
  {{ end }}

  {{ if or (.Site.Params.copyright) (.Site.Params.credit) }}
    <div class="col-xs-12">
      {{ if .Site.Params.copyright }}
        Copyright &copy; {{ now.Format "2006" }} {{ .Site.Title }}.
      {{ end }}
      {{ if .Site.Params.credit }}
        <a href="https://tomanistor.com" target="_blank">Theme developed by Toma Nistor</a>
      {{ end }}
    </div>
  {{ end }}

</footer>
